.btn-outline-primary {
  height: 30px !important;
  width: 80px !important;
}

.btn-outline-primary p {
  text-size-adjust: 10px !important;
  text-align: center !important;
  line-height: 12px;
}
.btn-info {
  height: 30px !important;
  width: 100px !important;
}
.btn-info p {
  text-size-adjust: 10px !important;
  text-align: center !important;
  line-height: 12px;
}

.tombol {
  justify-content: space-around;
}

.card-body {
  background-color: #ffee93 !important;
}

.border-primary {
  margin-right: 20% !important;
}

.text-home {
  float: left;
  margin-top: 150px;
  margin-left: 70px;
}

.textt {
  float: right;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 550px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 0px;
}

.cream-bg {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.gallery {
  padding: 80px;
}

img {
  max-width: 100%;
}

.gallery img {
  background-color: azure;
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#gallery-modal .modal-img {
  width: 100%;
}
.container-lg {
  text-align: center;
}

#product {
  background-color: #90ee90;
}

#home {
  background-color: #fff;
}

.navbar-expand-lg {
  background-color: #fff !important;
}

.card {
  margin-top: 10px !important;
}
